<div style="text-align:center">
  <h1>
      Welcome to {{ title }} !
  </h1>
</div>
<div class="container">
  <hr>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Number</mat-label>
    <input type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto">
    <mat-autocomplete
      appTestAutoComplete
      #auto="matAutocomplete"
      (infiniteScroll)="getBlock($event.block, $event.filter, $event.reset)"
      [limit]="limit"
      (optionSelected)="onSelect($event)">
      <mat-option *ngFor="let option of (options$ | async) ?? []" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
